.orSpan{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #19191A;
    height: 25px;
    width: 40px;
    text-align: center;
  }
  
  ::placeholder{
    color: #fff;
  }
  
  ::-moz-placeholder{
    color: #fff;
  
  }
  ::-ms-input-placeholder{
    color: #fff;
  }
  .loginInput, .myButton{
    background-color: #1A202C;
    color: #fff;
    border: 0px solid transparent;
    border-radius: 10px;
    width: 100%;
    display: block;
    height: 45px;
    line-height: 45px;
    padding-left: 5%;
    transition: all 0.1s ease-in-out;
  }
  
  button:hover{
    background-color: #37445e;
  }
  
  
  
  input[type=checkbox]{
    cursor: pointer;
    background-color: #1A202C;
    width: 1em;
    height: 1em;
    margin: 4px;
    border: 1px solid #1A202C;
    margin-right: 10px;
  
  }
  input[type=checkbox]::after{
    content: "";
    font-weight: 600;
    color: #fff;
    display: none;
    font-size: 12px;
  }
  input[type=checkbox]:checked    {
    background-color: #1A202C;
  
  }
  input[type=checkbox]:checked::after{
    display: inline-block;
  }
  
  input[type = submit], button.myButton{
    background-color: #605CFF;
    transition: all 0.1s ease-in-out;
  
  }
  input[type = submit]:hover, button.myButton:hover{
    background-color: rgba(111, 109, 252, 0.671);
  }
  
  
  .authChangeBtn{
    background-color: transparent;
    border: 0px solid transparent;
    display: inline-block;
    color: #fff;
    text-decoration: none;
  }
  .authChangeBtn:hover{
    background-color: transparent;
    text-decoration: underline;
  
  }
  