<div
  class="container d-flex justify-content-around align-items-center py-5"
>
  <div
    class="bg-dark col-6 my-5 text-center d-flex flex-column align-items-stretch  rounded-4"
    style=" padding: 3rem"
  >
    <div class="my-3">
      <h3>Recover</h3>
      <div class="text-start">
        <form
          class="container-fluid m-0 p-0"
          (ngSubmit)="resetPassword()"
          [formGroup]="resetPasswordForm"
        >
          @switch (displayForm) {
            @case ("mail") {
              <label for="email" class="form-label mt-5">Email address</label>
              <input
                type="email"
                class="form-control loginInput"
                id="email"
                placeholder="example@mail.com"
                name="email"
                formControlName="email"
                [value]="email"
              />
              <div class="col-12 my-4">
                <button class="myButton" (click)="sendCode()">Send Code</button>
              </div>
            }
            @case ("code") {
              <label for="code" class="form-label mt-5">Enter the Verification code</label>
              <input
                type="number"
                class="form-control loginInput"
                id="code"
                placeholder="1234"
                name="code"
                formControlName="code"
              />
              <div class="col-12 my-4">
                <button class="myButton" (click)="verifyCode()">Verify Code</button>
              </div>
            }
            @case ("password") {
              <label for="password" class="form-label mt-5">New Password</label>
              <input
                type="password"
                class="form-control loginInput"
                id="password"
                placeholder="******"
                name="password"
                formControlName="password"
              />
              <label for="password" class="form-label">Confirm Password</label>
              <input
                type="password"
                class="form-control loginInput"
                id="conPassword"
                placeholder="******"
                name="conPassword"
                formControlName="conPassword"
              />
              <div class="col-12 my-4">
                <input type="submit" value="Reset Password" class="loginInput" />
              </div>
            }
          }
        </form>
      </div>
    </div>
  </div>
</div>
