<div class="container h-100">
  <!-- nav start -->
  <div
    class="d-flex justify-content-between"
    [ngClass]="{
      'hide-on-small': isSmallScreen,
      'show-on-small': !isSmallScreen
    }"
    >
    <h3 class="mt-3 all-category" [routerLink]="['/subcategory/subcategory']">
      All subcategories
    </h3>
    <div class="mt-3 d-flex justify-content-center align-items-center">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control input"
          placeholder="search"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
          />
        <button
          class="btn btn-outline-secondary input"
          type="button"
          id="button-addon2"
          >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
    <div>
      <button
        type="button"
        class="btn creat mt-3"
        [routerLink]="['/subcategory/newsubcategory']"
        >
        <i class="fa-solid fa-plus me-3 plus"></i>New subcategory
      </button>
    </div>
  </div>
  <!-- collaps -->
  <div
    [ngClass]="{
      'hide-on-small2': !isSmallScreen,
      'show-on-small2': isSmallScreen
    }"
    >
    <div class="mt-3 d-flex justify-content-end align-items-center">
      <button class="btn creat">
        <i class="fa-solid fa-bars" (click)="toggleNav()"></i>
      </button>
    </div>
    @if (!flagNav) {
      <div>
        <div class="d-flex justify-content-end align-items-center">
          <h3
            class="mt-3 all-category"
            [routerLink]="['/subcategory/subcategory']"
            >
            All subcategories
          </h3>
        </div>
        <div class="d-flex justify-content-end align-items-center">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control input"
              placeholder="search"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              />
            <button
              class="btn btn-outline-secondary input"
              type="button"
              id="button-addon2"
              >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-end align-items-center">
          <button
            type="button"
            class="btn creat mt-3"
            [routerLink]="['/subcategory/newcategory']"
            >
            <i class="fa-solid fa-plus me-3 plus"></i>New subcategory
          </button>
        </div>
      </div>
    }
  </div>
  <!-- nav end -->
  <!-- new subcategory layout -->
  <div class="content">
    <form (ngSubmit)="AddNewsubCategory()" #addSubcategory="ngForm">
      <div
        class="d-flex justify-content-around align-items-center new-category"
        >
        <div class="mb-3 mt-3">
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label
              ><i class="fa-solid fa-camera-retro fs-3 camera"></i
            ></ngx-dropzone-label>
            @for (f of files; track f) {
              <ngx-dropzone-image-preview
                class="selected-image-container"
                ngProjectAs="ngx-dropzone-preview"
                [file]="f"
                [removable]="true"
                (removed)="onRemove(f)"
                >
              </ngx-dropzone-image-preview>
            }
          </ngx-dropzone>
        </div>
        <div>
          <div class="mb-3 mt-3">
            <label>name: </label>
            <input
              class="form-control"
              placeholder="subcategory Name (required)"
              type="text"
              [(ngModel)]="subCategory.name"
              name="name"
              required
              minlength="4"
              #subcategoryName="ngModel"
              [ngClass]="{
                'is-invalid':
                  (subcategoryName.touched || subcategoryName.dirty) &&
                  subcategoryName.invalid
              }"
              />
            <span class="invalid-feedback">
              @if (subcategoryName.errors?.['required']) {
                <span
                  >subcategory name is required
                </span>
              }
              @if (subcategoryName.errors?.['minlength']) {
                <span
                  >subCategory name must be at least 4 characters
                </span>
              }
            </span>
          </div>
          <div class="mb-3 mt-3">
            <label>name_ar:</label>
            <input
              class="form-control"
              placeholder="subcategory Name AR (required)"
              type="text"
              [(ngModel)]="subCategory.name_ar"
              name="name_ar"
              required
              minlength="4"
              #subcategoryName_ar="ngModel"
              [ngClass]="{
                'is-invalid':
                  (subcategoryName_ar.touched || subcategoryName_ar.dirty) &&
                  subcategoryName_ar.invalid
              }"
              />
            <span class="invalid-feedback">
              @if (subcategoryName_ar.errors?.['required']) {
                <span
                  >subcategoty name_ar is required
                </span>
              }
              @if (subcategoryName_ar.errors?.['minlength']) {
                <span
                  >subcategoty name_ar must be at least 4 characters
                </span>
              }
            </span>
          </div>
          <div class="mt-3 mb-3">
            <label class="me-2">Category:</label>
            <select
              class="form-control"
              [(ngModel)]="subCategory.parentCategory"
              name="category"
              required
              #subcategoryCategory="ngModel"
              [ngClass]="{
                'is-invalid':
                  (subcategoryCategory.touched || subcategoryCategory.dirty) &&
                  subcategoryCategory.invalid
              }"
              >
              @for (category of AllCategories; track category) {
                <option
                  [value]="category._id"
                  >
                  {{ category.name }}
                </option>
              }
            </select>
            <span class="invalid-feedback">
              @if (subcategoryCategory.errors?.['required']) {
                <span
                  >subcategory parentcategory is required
                </span>
              }
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <button
          type="submit"
          class="btn creat mt-3 mb-3"
          [disabled]="addSubcategory.invalid"
          >
          Creat subcategory
        </button>
      </div>
    </form>
  </div>
</div>
